.custom-file .custom-file-input {
    display: inline-block;
    height: 40px;
    width: 60%;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    color: #999999;
}

.custom-file label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
}

.custom-file input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 100%;
}

.tagify--outside{
    border: 0;
}

.tagify--outside .tagify__input{
    order: -1;
    flex: 100%;
    border: 1px solid var(--tags-border-color);
    margin-bottom: 1em;
    transition: .1s;
}

.tagify--outside .tagify__input:hover {
    border-color:var(--tags-hover-border-color);
}
.tagify--outside.tagify--focus .tagify__input {
    transition:0s;
    border-color: var(--tags-focus-border-color);
}